<!DOCTYPE html>
<html lang="en">

<head>
  <title>DASP-EXAM-TIME-TABLE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

 
</head>

<body style="border:2px solid black; " >
    <img src="http://dastp.s3-ap-southeast-1.amazonaws.com/logo.jpg" style="width:100%;">

 
<div class="container" style="text-align:center;">
   
    <h4 ><b> <u>{{examName}}</u> </b></h4>
    
</div>
<div class="container" style="margin-bottom: 100px;text-align:left">
{% for i in programmedetails%}
        <div class="row col-md-12">
            <b  class="col-md-6" >Programme Name</b>
            <b class="col-md-6" >:&nbsp;&nbsp;{{i["programmeName"]}}</b>
          </div>
        
          {% for batch in i["batchDetails"]%}
          <div class="row col-md-12">
              <b class="col-md-6" >Batch Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              <b class="col-md-6" >:&nbsp;&nbsp;{{batch["batchName"]}}</b>
          </div>
          {% for semester in batch["semesterList"]%}
          <div class="row col-md-12" >
              <b  class="col-md-6">Semester&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
              <b class="col-md-6" >:&nbsp;&nbsp;{{semester["semester"]}}-Semester</b>
          </div>
            
            <div style="text-align: left">

                <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="border: 1px solid black !important"><h5><b>Sl.No</b></h5></th>
                        <th style="border: 1px solid black !important"><h5><b>Course Name</b></h5></th>
                        <th style="border: 1px solid black !important"><h5><b>Exam Date</b></h5> </th>
                        <th style="border: 1px solid black !important"><h5><b>Exam Time</b></h5></th>
                        <!-- <th style="border: 1px solid black !important">Day</th>  -->
        
                    </tr>
                </thead>
                <tbody>
                    {% for course in semester["courseList"]%}
                    <tr>
                        <td style="border: 1px solid black !important">{{ loop.index }}&nbsp; &nbsp; </td>
                        <td style="border: 1px solid black !important">{{course["courseCode"]}}&nbsp; -&nbsp; {{course["courseName"]}}</td>
                        <td style="border: 1px solid black !important">{{course["examDate"]}}<br> {{course["day"]}}</td>
                        <td style="border: 1px solid black !important">{{course["Time"]}}</td>
                        <!-- <td style="border: 1px solid black !important">{{course["day"]}}</td> -->

                    
            
                    </tr>
                    {%endfor%}
                
                </tbody>
                </table>
              </div>
        {%endfor%}

        {%endfor%}
  {% endfor %}

      </div>
    <!-- </div> -->
</body>
</html>