<!DOCTYPE html>
<html lang="en">

<head>
  <title>DASP-HALL-TICKET</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .bt{
    border: 1px solid transparent !important;
  }
  .bta{
    border: 1px solid black !important;
  }
  th{
      text-align: center;
  }
  .btr{
      border-right: 1px solid black;
  }
  </style>
</head>

<body style="font-size: 12px;border:2px solid black; ">
    <div class="h-100">
    <!-- <img src="https://www.gstatic.com/webp/gallery/1.jpg" style="width:100%;"> -->

    <img src="http://dastp.s3-ap-southeast-1.amazonaws.com/logo.jpg" style="width:100%;">

        <div class="container" style="text-align:center;">
            <h4 ><b> <u >{{examName}}</u> </b></h4>
         
                <table class="table table-bordered"> 
                    <thead style="display: none">
                        <th style="width:25%"></th>
                        <th style="width:25%"></th>
                        <th style="width:25%"></th>
                        <th style="width:25%"></th>
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="4" class="bt" style="width: 100%;border-bottom: 1px solid black !important">
                                
                                <div style="text-align: left"><b>Centre of Examination:&nbsp;&nbsp;{{examCentre}}</b></div>
                                <div style="text-align: left"><b>Programme Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{programmeName}}</b></div>
                                <div style="text-align: left"><b>Batch Name&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;{{batchName}}</b></div>

                            </td>
                        </tr>
                        <tr>
                            <td class="bt" style="border-bottom: 1px solid black !important;width:75%;">
                                
                                <div style="text-align: left;font-size:14px" ><b>Name of candidate:&nbsp;&nbsp;{{studentName}}</b></div>
                                <div style="text-align: left;font-size:14px" ><b style="text-align: left">Register Number&nbsp;&nbsp;&nbsp;:&nbsp;{{registerNumber}}</b></div>
                            <td class="bt" style="border-bottom: 1px solid black !important;width:25%;">
                               

                                <img src= "{{barCode}}" style="height:60px !important" >
                                
                            </td>
                        </tr>
                        <tr>

                            <td class="bt" style="border-right: 1px solid black !important;border-bottom: 1px solid black !important;width:75%;">
                            <b style="text-align: left">Subjects for which candidate is appearing now</b><br>

                                <ul style="min-height: 165px;list-style-type: decimal;">
                                    {% for i in courseDetalls%}

                                    <li style="text-align: left">
                                        {{i["courseCode"]}}&nbsp;-&nbsp;{{i["courseName"]}}
                                    </li>
                                     {%endfor%}
                                    
                                </ul>
                            </td>
                            <td  class="bt" style="border-left: 1px solid black !important;border-bottom: 1px solid black !important;width:25%;">
                                <img src= "{{photo}}"  style="height: 193px;vertical-align:center;">

                            </td>
                        </tr>
                       
                    </tbody>
                       

                </table>
                <div class="container">
                        <div class="pull-left"><b>Signature of the Candidate</b></div>
                        <div class="pull-right"><b>Dated Signature of Identifying Officer</b></div>




                </div>
                <div class="container">
                        <div class="pull-left"><b>(To be signed in the presence of Identifying Officer)</b></div>

                        <div class="pull-right"><b>(To be signed on the Photograph)</b></div>


                </div><br>
                <h4 style="text-align:center"><b><u>Exam Time Table</u></b></h4><br>
                <div style="text-align: left">
                
                        <table class="table table-bordered">
                        <thead>
                            <tr style="border: 1px solid black !important">
                            <!-- <th style="border: 1px solid black !important">Course Name</th>
                            <th style="border: 1px solid black !important">Exam Date</th>
                            <th style="border: 1px solid black !important">Day</th> -->
                            <th style="border: 1px solid black !important"><h5><b>Sl.No</b></h5></th>
                            <th style="border: 1px solid black !important"><h5><b>Course Name</b></h5></th>
                            <th style="border: 1px solid black !important"><h5><b>Exam Date</b></h5> </th>
                            <th style="border: 1px solid black !important"><h5><b>Exam Time</b></h5></th>
                            <th style="border: 1px solid black !important" ><h5><b>Reporting Time</b></h5></th>
                      
                            </tr>
                        </thead>
                        {% for i in courseDetalls%}

                        <tbody style="border: 1px solid black !important">
                            <tr style="border: 1px solid black !important">
                            <td style="border: 1px solid black !important">{{ loop.index }}&nbsp; &nbsp; </td>

                            <td style="border: 1px solid black !important">{{i["courseCode"]}}&nbsp;-&nbsp;{{i["courseName"]}}&nbsp; &nbsp; </td>
                            <td style="border: 1px solid black !important">{{i["examDate"]}}&nbsp; &nbsp; </td>
                            <td style="border: 1px solid black !important">{{i["Time"]}}</td>
                            <td style="border: 1px solid black !important">9 00 AM</td>
                           
                    
                            </tr>
                        {%endfor%}
                        
                        </tbody>
                        </table>
                      </div>
                
                <div class="container">
                    <br><br>
                    
                    <h5 ><b><u>INSTRUCTIONS TO THE CANDIDATES</u></b></h5></div>
                    <ol style="text-align: left">
                        <li>Candidates should bring with them their hall tickets each day of the examination for inspection by the Chief Superintendent.
                        </li>
                        <li>Candidates shall be permitted to occupy the seat allotted to them in the Examination Hall, by the Assistant Superintendent/Invigilator of the examination <b> 15 minutes </b> before the time mentioned in the admission ticket. They shall occupy only the seats allotted to them as per their Register Number.
                        </li>
                        <li>Candidates will not be permitted either to enter the examination hall after half an hour after the start of the examination or to leave the hall until the examination is over.
                        </li>
                        <li>Candidates shall bring only admission ticket and ball point pen with blue or black ink into the examination hall. (a)Candidates should not carry Bag, watch, purse, mobile phone or any other belongings to the examination hall. Any candidate found to carry such items inside the examination hall will not be allowed to write the examination.
                        </li>
                        <li>ARTICLES BANNED INSIDE THE EXAMINATION HALL
                            <ul>
                                <li>Stationery Items: Text material (printed or written), bits of papers, geometry/pencil box, plastic pouch, calculator, ink/gel pen, scale, writing pad, pen drive, eraser, calculator, log table, electronic pen/scanner</li>
                                <li>Communication Devices: Mobile Phone, Bluetooth, earphones, microphone, pager, health band. Any metallic items which could be used for unfair means, for hiding communication devices like camera, Bluetooth device.</li>
                                <li>Watches: Watch/Wrist watch, camera watch, smart watch</li>
                                <li>Eatables: Any eatable item opened or packed, water bottle.</li>
                                <li>Other Items: Handbag, Purse, Pouch</li>
                            </ul>
                        </li>
                        <li>Candidates should not misbehave with the officials engaged in examination duty or commit any sort of malpractice or resort to any unfair means during the course of the examination.
                        </li>
                        <li>Violation of these rules may invoke cancellation of the examination taken by the candidate and he/she will be debarred from appearing for the examination for a period as decided by the University.
                        </li>
                    </ol>
                    <!-- <div class="pull-right"><b>(To be signed on the Photograph)</b></div> -->
                </div>

                <br><br>
        </div>
       
</body>
</html>