<!DOCTYPE html>
<html lang="en">

<head>
  <title>DASP-CERTIFICATE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  


  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .bt{
    border: 1px solid transparent !important;
  }
  .bta{
    border: 1px solid black !important;
  }
  th{
      text-align: center;
  }
  .btr{
      border-right: 1px solid black;
  }
  </style>
</head>
<!-- 
<body style="font-size: 12px;border:2px solid black; "> -->
<body>
  
        <div  class="container" >
            <p> Register No:{{registerNumber}} </p>
            <p> Month & Year:December 2018</p><br>
          <img src="http://dastp.s3-ap-southeast-1.amazonaws.com/logo.jpg" style="width:100%;">

        </div>
        
        <div  class="container"style="text-align:center;">
                <!-- <h1 >Mahatma Gandhi University</h1> -->
                <p style="font-size: 10;">(Established by Kerala State Legislature by Notification No.3431,Leg.C1/B5/Law,dated 17th April 1985)</p>
                <br>
                <h2 style="font-size: 20px;font-family: Arial, Helvetica, sans-serif"><b> FACULTY OF TECHNOLOGY AND APPLIED SCIENCES</b></h2>
                
                <h3 ><i><b> The Syndicate of the Mahatma Gandhi University</b></i></h3>
                <p > <i>hereby makes known that</i></p>
                <h4><b>{{studentName}}</b></h4>
                <p><i> has admitted to the</i> </p>
                <h4 style="font-size: 20px;font-family: Arial, Helvetica, sans-serif"> <b>{{programmeName}}</b></h4>
        </div>
        <div class="container">
        <p ><i> He/She have  been certified by duly appointed examiners to be qualified to
        receive the same and having been by them placed after passing the
        prescribed examinations in the</i> <b>{{markPosition}}</b><i> at the examination held in</i> <b>December 2018</b>.</p><br>
        </div>
        <div  class="container">
                        
        <p style="text-align:center;"><i>Given under the seal of the University</i></p><br><br>
        </div>
        <div class="container">
          <div class="pull-left"><b> University Buildings<br>
        
            Priyadarshini Hills P.O<br>
            Kottayam -685 560<br>
            Kerala , India<br><br>
            Dated : {{publishedDate}}</b></div>
          <div class="pull-right"><b><i>Vice-Chancellor</i></b></div>
        </div>
      
 
</body>
</html>